:root {
    --color-lochmara-50: #f3f6fc;
    --color-lochmara-100: #e6eef8;
    --color-lochmara-200: #c7daf0;
    --color-lochmara-300: #95bbe4;
    --color-lochmara-400: #5d99d3;
    --color-lochmara-500: #3678b9;
    --color-lochmara-600: #2862a1;
    --color-lochmara-700: #214e83;
    --color-lochmara-800: #1f446d;
    --color-lochmara-900: #1f3a5b;
    --color-lochmara-950: #14253d;
}